<mat-toolbar [color]="'warn'">
  <mat-icon  [routerLink]="['/home']" routerLinkActive="active" >home</mat-icon>
  <h1>Movies Search</h1>
  <mat-icon  [routerLink]="['/favourites']" routerLinkActive="active"  class="fav">favorite</mat-icon>
</mat-toolbar>
