.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: -1rem;
}

.card {
  width: calc(20% - 1.5em);
  margin: .75em;
  cursor: pointer;
}

.card .image {
  position: relative;
  display: block;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0,0,0,.05);
}

.card .image img {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: inherit;
}

.content {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34,36,38,.1);
  background: none;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}

.content .header {
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.content .description {
  clear: both;
  color: rgba(0,0,0,.68);
}

.extra {
  max-width: 100%;
  min-height: 0;
  flex-grow: 0;
  border-top: 1px solid rgba(0,0,0,.05);
  position: static;
  background: none;
  width: auto;
  margin: 0 0;
  padding: .75em 1em;
  top: 0;
  left: 0;
  color: rgba(0,0,0,.4);
  box-shadow: none;
  transition: color .1s ease;
}

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  backface-visibility: hidden;
}

.star {
  cursor: pointer;
  opacity: .75;
  transition: color .1s ease;
}

.heart-red {
  color: red;
}
