<div class="container">
  <div class="grid">
    <div class="card" [routerLink]="['/movie/'+movie.id]" routerLinkActive="active" *ngFor="let movie of movies">
      <div class="image">
        <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">
        <img *ngIf="!movie.poster_path" src="../../assets/images/film-poster-placeholder.png" alt="">
      </div>
      <div class="content">
        <div class="header">
          {{movie.title}}
        </div>
        <div class="description">
          <span>Popularity</span>
          : {{ movie.popularity  | number : '1.0-1' }}
          <br>
          <span>Vote count</span>
          : {{ movie.vote_count }}
        </div>
      </div>
      <div class="extra content">
       <span class="right floated">
          <h3>
            <mat-icon class="star" (click)="toggleFav($event, movie)" [ngClass]="isFav(movie.id)">favorite</mat-icon>
            {{ movie.vote_average }}
          </h3>

        </span>
        {{ movie.release_date }}
      </div>
    </div>
  </div>
</div>
