<div class="container" *ngIf="selectedMovie">
  <h2 class="header">
      {{selectedMovie.original_title}}
  </h2>
  <div class="floating">
    <div class="grid">
      <div class="image">
        <img *ngIf="selectedMovie.poster_path" src="https://image.tmdb.org/t/p/w500{{selectedMovie.poster_path}}">
        <img *ngIf="!selectedMovie.poster_path" src="../../assets/images/film-poster-placeholder.png">
      </div>
      <div class="details">
        <div  class="genre">
          <i *ngFor="let genre of selectedMovie.genres" class="label">{{ genre.name }}</i>
        </div>
        <div  class="overview">
          <div class="header">
            <span>Overview</span>
          </div>
          {{ selectedMovie.overview }}
        </div>
        <div  class="information">
          <div class="label">
            <span>Release Date</span>
            <div class="text">{{ selectedMovie.release_date}}</div>
          </div>
        </div>
        <div  class="information">
            <div class="label">
              <span>Popularity</span>
            <div class="text">{{ selectedMovie.popularity | number: '1.0-2' }}</div>
          </div>
        </div>
        <div  class="information">
          <div class="label">
            <span>Vote Counts</span>
            <div class="text">{{ selectedMovie.vote_count | number: '1.0-2' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
