.container {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  color: #f44336;
  font-size: 1.7rem;
  border: none;
  margin: calc(2rem - .14285714em) 0 1rem;
  padding: 0 0;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
}


.floating {
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  border-radius: .28571429rem;
  box-shadow: inset 0 0 0 1px rgba(34,36,38,.22), 0 0 0 0 transparent;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
}

.grid .image {
  flex-direction: column;
  vertical-align: middle;
  align-self: center;
  width: 25%;
}

.grid .image img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}

.grid .details {
  width: 75%;
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}

.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  padding: .5833em .833em;
  color: #000000;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  transition: background .1s ease;
  text-transform: uppercase;
}

.genre .label {
  background-color: #f44336;;
  color: #ffffff;
  text-transform: none;
}

.information {
  display: inline-flex;
  flex-direction: column;
  margin: 1em 0;
}

.text {
  line-height: 1em;
  min-height: 2em;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  color: #2185d0;
}
