<div class="floating">
  <div class="container">
    <form class="form-inline mat-form">
      <input class="form-control mr-sm-2" name="search" [(ngModel)]="searchInput.searchInput" type="search" placeholder="Search movies here" aria-label="Search">
      <button class="search-button" mat-button (click)="onSearchChange()" [color]="'warn'">Search</button>
    </form>
  </div>
</div>

